/**
 * BUTTON - ABSTRACTION
 */

.btn,
%btn {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    font-family: inherit;
    font-size: 100%;
    text-decoration: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
}