/**
 * BUTTONS
 *
 * PALLETE
 * DEFAULT ATOM
 * LIBRARY ATOMS
 */

/**
 * PALLETE
 */
$btn-default-bg: #ccc;
$btn-default-color: #000;

/**
 * DEFAULT ATOMS
 */

/**
 * Default ovo.css button style. If you want to create your own
 * buttons copy this atom styles and make your own changes.
 */
.btn--default {
    @extend %btn;

    padding: 10px 20px;
    background-color: $btn-default-bg;
    color: $btn-default-color;
}