/*
	Main module
 */
.main {
	width: 100%;
	height: 100%;
	padding-left: $menu-width;
}

.main__header {
	padding: 20px;
	text-align: center;
}

.main__content {
	padding: 0 20px;
	max-width: 900px;
}

.main__text {
	@include font-size($base-font-size);

	color: $font-base;
}