$font-base: #777777;

// Basic color pallete
$light-grey: #333333;

// Menu
$menu-bg: #000000;
$menunav-link: #999999;
$menunav-link-hover: #00A0AA;
$menunav-border: $light-grey;

// Base grid
$menu-width: 200px;
$main-width: 100%;

/**
* Font base stuff
*/
$base-font-size: 16px!default;
$base-line-height: 24px!default;

/**
* Base font-family.
*/
$base-font-family: sans-serif!default;

/**
* Font-sizes (in pixels) for headings. 
* Refer to relevant sections for their 
* implementations.
*/
$h1-size: 36px!default; // .alpha
$h2-size: 30px!default; // .beta
$h3-size: 24px!default; // .gamma
$h4-size: 20px!default; // .delta
$h5-size: 16px!default; // .epsilon
$h6-size: 14px!default; // .zeta